.card {
    background: #ffffff;
    grid-column: span 1;
    height: 100%;
    border: 1px solid #E0DAD1;
}

.card img {
    width: 100%;
}

.card-body {
    padding: 2% 5% 10%;
}

.card-body h3 {
    font-weight: 400;
    margin: 20px 0;
    color: #000000;
}

.card-body p {
    margin: 0 0 8px;
}

.card-button {
    display: block;
    padding: 10px 40px;
    background: #827b75;
    border: 1px solid #827b75;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 2px;
    margin-top: 25px;
    cursor: pointer;
}

.card-button:hover {
    background: #ffffff;
    color: #000000;
}