@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&display=swap');

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  background: #F3F1EE;
  font-family: 'Open Sans', sans-serif;
}

/*     Utility Classes     */
.container {
  width: 90%;
  max-width: calc(1500px + 100px);
  margin: 4% auto 5%;
}

.uppercase {
  text-transform: uppercase;
}

.bold-text {
  font-weight: 700;
}